<!doctype html>
<html>
  <head>
    <title>Clip localization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_yolo.css') }}">
  </head>
  <body>
    <div class="container">
      <h2 class="title">Clip localization with YOLO</h2>
      <div class="image-container">
        <img class="image" src="data:image/jpeg;base64,{{ image_str }}" />
        <p class="info">{{ info_text }}</p>
      </div>
      <div class="button-container">
        <form method="POST" action="/">
          <button class="button" type="submit" name="backward" value="backward">Backward</button>
          <button class="button" type="submit" name="forward" value="forward">Forward</button>
        </form>
      </div>
    </div>
  </body>
</html>
